<!DOCTYPE html>
<html>
  <head>
    <title>VueStations</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>

    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% end %>
  </head>

  <body class="bg-white dark:bg-slate-800 text-slate-900 dark:text-white">
    <div class="container mx-auto bg-white dark:bg-slate-800 text-slate-900 dark:text-white">
      <%= yield %>
    </div>
  </body>
</html>
